@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h2>Main Sheet!</h2>
    <p>First View!</p>
    @Html.ActionLink("List Employees", "Employees");
    <p>
        <img src="/qr/code?str=QWE" width="200">
    </p>
</body>
</html>
